[submodule "v0-Eloyt/Modules/react-eloyt"]
	path = v0-Eloyt/Modules/react-eloyt
	url = git@github.com:eloythub/react-eloyt.git
[submodule "v0-Eloyt/Modules/react-native-loader"]
	path = v0-Eloyt/Modules/react-native-loader
	url = git@github.com:eloythub/react-native-loader.git
