[submodule "Eloyt/Modules/react-native-eloyt-component-framework"]
	path = Eloyt/Modules/react-native-eloyt-component-framework
	url = git@github.com:eloythub/react-native-eloyt-component-framework.git
